[access]
	inheritFrom = All-Projects
[access "refs/heads/*"]
	create = group Xiaomi Vince Maintainers
	push = +force group Xiaomi Vince Maintainers
	pushMerge = group Xiaomi Vince Maintainers
	label-Code-Review = -2..+2 group Xiaomi Vince Maintainers
	label-Verified = -1..+1 group Xiaomi Vince Maintainers
	submit = group Xiaomi Vince Maintainers
